<!DOCTYPE html>
<!-- This view is only meant to be launched to test the Dolphin Core -->
<!-- Testing the rewritten modular componenets -->
<html>
  <head>
    <script src="../controllers/main_controller.js">

    </script>
    <meta charset="UTF-8">
    <title>Module Test</title>
  </head>
  <body>
    <h1>Test Area</h1>
    <h2>Test Authentication</h2>
    <button onclick="authenticate()">Authenicate</button>
    <h2>Hosts a Netplay Server</h2>
    <button onclick="startNetPlay('host')">Start Netplay Host</button> 
    <h2>Hosts a Netplay Server</h2>
    <button onclick="startNetPlay('host')">Start Netplay Host</button> 
    <h2>Hosts a Netplay Server</h2>
    <button onclick="startNetPlay('host')">Start Netplay Host</button> 
    <h2>Hosts a Netplay Server</h2>
    <button onclick="startNetPlay('host')">Start Netplay Host</button> 
    <h2>Hosts a Netplay Server</h2>
    <button onclick="startNetPlay('host')">Start Netplay Host</button> 
    <h2>Hosts a Netplay Server</h2>
    <button onclick="startNetPlay('host')">Start Netplay Host</button> 
    <h2>Hosts a Netplay Server</h2>
    <button onclick="startNetPlay('host')">Start Netplay Host</button> 
    <h2>Hosts a Netplay Server</h2>
    <button onclick="startNetPlay('host')">Start Netplay Host</button> 
    <h2>Hosts a Netplay Server</h2>
    <button onclick="startNetPlay('host')">Start Netplay Host</button> 
  </body>
</html>
